@page
@model IniciarSesion 
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Iniciar Sesion";
}

<h2>Login del Empleado</h2>
<form method="post" asp-page-handler="FormLogin">
    <label for="inptNom">Nombre</label>
    <input id="inptNom" type="text" name="nombre" required  >
    <hr>
    <label for="inptID">ID Trabajador</label>
    <input id="inptID" type="text" name="id" required >
    
    <button type="submit" >Iniciar Sesion</button>

</form>

@if (Model.Result != null)
{
    <div>
        <h3>Result:</h3>
        <p>@Model.Result</p>
    </div>
}