@page
@model IniciarSesion 
@{
    Layout = "_LayoutLogin";
    ViewData["Title"] = "Iniciar Sesion";
}

<h2>Login del Empleado</h2>
<form method="post" asp-page-handler="FormLogin">
    <label for="inptUser">Usuario</label>
    <input id="inptUser" type="text" name="usuario" required  >
    <hr>
    <label for="inptPass">Contraseña</label>
    <input id="inptPass" type="text" name="contrasena" required >
    
    <button type="submit" >Iniciar Sesion</button>

</form>

@if (Model.Result != null)
{
    <div>
        <h3>Result:</h3>
        <p>@Model.Result</p>
    </div>
}